/* =====================================
   Default Theme (light)
   ===================================== */
:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --header-bg: #ffffff;
  --card-bg: #f5f5f5;
  --border-color: #dddddd;
  --accent-color: rgb(241, 178, 30);
}

/* =====================================
   Dark Theme
   ===================================== */
:root[theme-mode="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --header-bg: #1e1e1e;
  --card-bg: #1f1f1f;
  --border-color: #444444;
  /* --accent-color: rgb(25, 135, 84);  */
  --accent-color: rgb(241, 178, 30);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Roboto, Arial;
  margin: 0;
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

/* Remove the default margins of <p> elements. */
p {
  margin: 0;
}

button {
  font-size: 14px;
  cursor: pointer;
}

select {
  cursor: pointer;
}

input, select, button {
  font-family: Roboto, Arial;
}

.button-primary {
  color: #ffffff;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-primary:hover {
  background-color: rgba(241, 178, 30, 0.75);
  border: 1px solid transparent;
}


.button-primary:active {
  background: rgba(241, 178, 30, 0.5);
  border-color: transparent;
  box-shadow: none;
}

.button-secondary {
  color: var(--text-color);
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.button-secondary:hover {
  background-color: rgb(250, 250, 250);
}

.button-secondary:active {
  background-color: rgb(240, 240, 240);
  box-shadow: none;
}

/* These styles will limit text to 2 lines. Anything
   beyond 2 lines will be replaced with "..."
   You can find this code by using an A.I. tool or by
   searching in Google.
   https://css-tricks.com/almanac/properties/l/line-clamp/ */
.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-primary {
  color: rgb(25, 135, 84);
  cursor: pointer;
}

.link-primary:hover {
  opacity: 0.75;
}

.link-primary:active {
  opacity: 0.5;
}

/* Styles for dropdown selectors. */
select {
  color: var(--text-color);
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
}

select:focus,
input:focus {
  outline: 2px solid rgb(25, 135, 84);
}